[submodule "ApplicationFramework/vendor/GLFW"]
	path = ApplicationFramework/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "ApplicationFramework/vendor/Assimp"]
	path = ApplicationFramework/vendor/Assimp
	url = https://github.com/assimp/assimp.git
[submodule "ApplicationFrameWork/vendor/TinyOBJLoader"]
	path = ApplicationFrameWork/vendor/TinyOBJLoader
	url = https://github.com/tinyobjloader/tinyobjloader.git
